In [ ]:
# Notebook. TP 1 - taller de programación. Grupo 7
# Dolimpio, Gastón
# Feijoo, Guillermo
# Rudi, Federico

In [295]:
#!pip install pandasimport pandas as pd

In [296]:
# librerias con las que se va a trabajar
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [297]:
# Importo la base a nivel de individuo del 1er trimestre 2005
df_t1_05 = pd.read_stata(r"C:\Users\ASUS Vivobook\Documents\GitHub\BigDataUBA-Grupo5\EPH\t105_dta\usu_individual_T105.dta", convert_categoricals = False)

In [298]:
df_t1_05.head()

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1017.0,...,08,,07,08,,05,0.0,0.0,0.0,00000
1,125188,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1062.0,...,02,,02,02,,01,0.0,0.0,0.0,40020
2,125188,1.0,2.0,1.0,2005.0,1.0,1.0,S,32.0,1062.0,...,02,,02,02,,01,0.0,0.0,0.0,00000
3,125188,1.0,3.0,0.0,2005.0,1.0,1.0,S,32.0,1062.0,...,02,,02,02,,01,0.0,0.0,0.0,00000
4,125242,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1103.0,...,09,,09,09,,07,0.0,0.0,0.0,00000

In [299]:
df_t1_05.columns

Index(['CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre',
       'region', 'mas_500', 'aglomerado', 'pondera',
       ...
       'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr',
       'pj1_1', 'pj2_1', 'pj3_1', 'idimpp'],
      dtype='object', length=176)

In [300]:
# Importo la base a nivel de individuo del 1er trimestre 2025
df_t1_25 = pd.read_excel(r"C:\Users\ASUS Vivobook\Documents\GitHub\BigDataUBA-Grupo5\EPH\EPH_usu_1_Trim_2025_xls\usu_individual_T125.xlsx")

In [301]:
df_t1_25.head()

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
0,TQRMNOVQVHJOLOCDEFKID00875778,2025,1,1,2,1,43,S,4,927,...,0,0,0,0,3.0,2.0,3.0,NaN,3.0,2.0
1,TQRMNOVQVHJOLOCDEFKID00875778,2025,1,1,3,0,43,S,4,927,...,0,0,0,0,3.0,2.0,3.0,NaN,3.0,2.0
2,TQRMNOVQVHJOLOCDEFKID00875778,2025,1,1,4,0,43,S,4,927,...,0,0,0,0,3.0,2.0,3.0,NaN,3.0,2.0
3,TQRMNOVQVHJOLOCDEFKID00875778,2025,1,1,5,0,43,S,4,927,...,0,0,0,0,3.0,2.0,3.0,NaN,3.0,2.0
4,TQRMNOUPQHLOLOCDEFKID00851757,2025,1,1,1,1,43,S,4,1294,...,0,0,0,0,3.0,3.0,3.0,NaN,3.0,3.0

In [302]:
df_t1_05['region'].value_counts()

region
43.0    14651
1.0      9484
40.0     9348
41.0     5453
42.0     4865
44.0     3229
Name: count, dtype: int64

In [303]:
df_t1_25['REGION'].value_counts()

REGION
43    13803
40     9742
1      7181
44     5359
41     4746
42     4594
Name: count, dtype: int64

In [304]:
df_t1_25.columns

Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'V21_03_M', 'V22_01_M', 'V22_02_M', 'V22_03_M', 'P_DECCF', 'P_RDECCF',
       'P_GDECCF', 'P_PDECCF', 'P_IDECCF', 'P_ADECCF'],
      dtype='object', length=235)

In [305]:
# Me quedo solo con la region 44 "Patagonia"
df_t1_25 = df_t1_25[df_t1_25['REGION'] == 44]
df_t1_05 = df_t1_05[df_t1_05['region'] == 44]

In [306]:
df_t1_05.shape

(3229, 176)

In [307]:
df_t1_25.shape

(5359, 235)

In [308]:
# Elijo el conjunto de variables con las que voy a trabajar 
# Se realiza limpieza y homologacion de las observaciones y variables 
variables = ['CODUSU', 'NRO_HOGAR', 'ANO4', 'CH04', 'CH06', 'CH07', 'CH08', 'NIVEL_ED', 'ESTADO', 'CAT_INAC', 'IPCF', 'PP04A', 'PONDERA']
df_t1_25 = df_t1_25[variables]

In [309]:
variables = ['CODUSU', 'nro_hogar',  'ano4', 'ch04', 'ch06', 'ch07', 'ch08', 'nivel_ed', 'estado', 'cat_inac', 'ipcf', 'pp04a', 'pondera']
df_t1_05 = df_t1_05[variables]

In [310]:
df_t1_25.columns = df_t1_25.columns.str.lower()
df_t1_25 = df_t1_25.rename(columns={'codusu': 'CODUSU'})
df_t1_25.columns.tolist()

['CODUSU',
 'nro_hogar',
 'ano4',
 'ch04',
 'ch06',
 'ch07',
 'ch08',
 'nivel_ed',
 'estado',
 'cat_inac',
 'ipcf',
 'pp04a',
 'pondera']

In [311]:
df_t1_05.columns.tolist()

['CODUSU',
 'nro_hogar',
 'ano4',
 'ch04',
 'ch06',
 'ch07',
 'ch08',
 'nivel_ed',
 'estado',
 'cat_inac',
 'ipcf',
 'pp04a',
 'pondera']

In [312]:
print("Tipos de variables en df_t1_05:")
print(df_t1_05.dtypes)
print("\nTipos de variables en df_t1_25:")
print(df_t1_25.dtypes)

Tipos de variables en df_t1_05:
CODUSU        object
nro_hogar    float64
ano4         float64
ch04         float64
ch06         float64
ch07         float64
ch08         float64
nivel_ed     float64
estado       float64
cat_inac     float64
ipcf         float64
pp04a        float64
pondera      float64
dtype: object

Tipos de variables en df_t1_25:
CODUSU        object
nro_hogar      int64
ano4           int64
ch04           int64
ch06           int64
ch07           int64
ch08         float64
nivel_ed       int64
estado         int64
cat_inac       int64
ipcf         float64
pp04a        float64
pondera        int64
dtype: object

In [313]:
# Hago que la clase de las variables sean las mismas entre las bases 
for col in df_t1_25.columns:
    if col in df_t1_05.columns:
        df_t1_05[col] = df_t1_05[col].astype(df_t1_25[col].dtype)

In [341]:
# Seleccionar variables numéricas
numeric_cols = df_t1_05.select_dtypes(include=['int64', 'float64']).columns

# Estadísticos básicos
print("=== Estadísticos básicos ===")
print(df_t1_05[numeric_cols].describe())

# Detección de valores atípicos usando IQR
print("\n=== Valores atípicos (por IQR) ===")
for col in numeric_cols:
    Q1 = df_t1_05[col].quantile(0.25)
    Q3 = df_t1_05[col].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df_t1_05[(df_t1_05[col] < Q1 - 1.5 * IQR) | (df_t1_05[col] > Q3 + 1.5 * IQR)][col]
    print(f"{col}: {len(outliers)} valores atípicos")

=== Estadísticos básicos ===
         nro_hogar    ano4         ch04         ch06         ch07  \
count  3172.000000  3172.0  3172.000000  3172.000000  3172.000000
mean      1.047604  2005.0     1.512926    30.227932     3.528373
std       0.223086     0.0     0.499912    19.771178     1.602234
min       1.000000  2005.0     1.000000     1.000000     1.000000
25%       1.000000  2005.0     1.000000    13.000000     2.000000
50%       1.000000  2005.0     2.000000    27.000000     5.000000
75%       1.000000  2005.0     2.000000    44.000000     5.000000
max       3.000000  2005.0     2.000000    94.000000     5.000000

              ch08     nivel_ed       estado     cat_inac          ipcf  \
count  3172.000000  3172.000000  3172.000000  3172.000000   3172.000000
mean      1.934426     3.290353     2.320933     1.935057    572.108272
std       1.530141     1.856028     1.164124     1.960395    619.159477
min       1.000000     1.000000     0.000000     0.000000      0.000000
25%       1.000000     2.000000     1.000000     0.000000    205.000000
50%       1.000000     3.000000     3.000000     2.500000    400.000000
75%       4.000000     4.000000     3.000000     3.000000    684.375000
max      13.000000     7.000000     4.000000     7.000000  11000.000000

             pp04a      pondera
count  3172.000000  3172.000000
mean      0.677806   176.412989
std       0.880554    91.496406
min       0.000000    58.000000
25%       0.000000   115.000000
50%       0.000000   144.000000
75%       2.000000   205.250000
max       3.000000   658.000000

=== Valores atípicos (por IQR) ===
nro_hogar: 144 valores atípicos
ano4: 0 valores atípicos
ch04: 0 valores atípicos
ch06: 3 valores atípicos
ch07: 0 valores atípicos
ch08: 17 valores atípicos
nivel_ed: 0 valores atípicos
estado: 0 valores atípicos
cat_inac: 0 valores atípicos
ipcf: 229 valores atípicos
pp04a: 0 valores atípicos
pondera: 239 valores atípicos

In [315]:
# Elimino observaciones con edades e ingresos negativos
df_t1_05 = df_t1_05[(df_t1_05['ch06'] >= 0) & (df_t1_05['ipcf'] >= 0)]
df_t1_25 = df_t1_25[(df_t1_25['ch06'] >= 0) & (df_t1_25['ipcf'] >= 0)]

In [316]:
df_t1_05_hog = pd.read_stata(r"C:\Users\ASUS Vivobook\Documents\GitHub\BigDataUBA-Grupo5\EPH\t105_dta\Hogar_t105.dta", convert_categoricals = False)

In [317]:
df_t1_25_hog = pd.read_excel(r"C:\Users\ASUS Vivobook\Documents\GitHub\BigDataUBA-Grupo5\EPH\EPH_usu_1_Trim_2025_xls\usu_hogar_T125.xlsx")

In [318]:
df_t1_25_hog= df_t1_25_hog[df_t1_25_hog['REGION'] == 44]
df_t1_05_hog = df_t1_05_hog[df_t1_05_hog['region'] == 44]

In [320]:
print("\nTipos de variables en df_t1_05_hog:")
print(df_t1_25_hog.dtypes)
df_t1_25_hog['NRO_HOGAR'].value_counts()

Tipos de variables en df_t1_05_hog:
CODUSU       object
ANO4          int64
TRIMESTRE     int64
NRO_HOGAR     int64
REALIZADA     int64
              ...
V21_02        int64
V21_03        int64
V22_02        int64
V22_03        int64
V2_01         int64
Length: 98, dtype: object

NRO_HOGAR
1     2019
2       62
3        2
51       1
72       1
71       1
Name: count, dtype: int64

In [321]:
print("\nTipos de variables en df_t1_05:")
print(df_t1_05.dtypes)
df_t1_05['nro_hogar'].value_counts()

Tipos de variables en df_t1_05:
CODUSU        object
nro_hogar      int64
ano4           int64
ch04           int64
ch06           int64
ch07           int64
ch08         float64
nivel_ed       int64
estado         int64
cat_inac       int64
ipcf         float64
pp04a        float64
pondera        int64
dtype: object

nro_hogar
1    3028
2     137
3       7
Name: count, dtype: int64

In [322]:
df_t1_25_hog.columns = df_t1_25_hog.columns.str.lower()
df_t1_25_hog = df_t1_25_hog.rename(columns={'codusu': 'CODUSU'})

['CODUSU',
 'ano4',
 'trimestre',
 'nro_hogar',
 'realizada',
 'region',
 'mas_500',
 'aglomerado',
 'pondera',
 'iv1',
 'iv1_esp',
 'iv2',
 'iv3',
 'iv3_esp',
 'iv4',
 'iv5',
 'iv6',
 'iv7',
 'iv7_esp',
 'iv8',
 'iv9',
 'iv10',
 'iv11',
 'iv12_1',
 'iv12_2',
 'iv12_3',
 'ii1',
 'ii2',
 'ii3',
 'ii3_1',
 'ii4_1',
 'ii4_2',
 'ii4_3',
 'ii5',
 'ii5_1',
 'ii6',
 'ii6_1',
 'ii7',
 'ii7_esp',
 'ii8',
 'ii8_esp',
 'ii9',
 'v1',
 'v2',
 'v2_02',
 'v2_03',
 'v21_01',
 'v22_01',
 'v3',
 'v4',
 'v5_02',
 'v5_03',
 'v6',
 'v7',
 'v8',
 'v9',
 'v10',
 'v11_01',
 'v11_02',
 'v12',
 'v13',
 'v14',
 'v15',
 'v16',
 'v17',
 'v18',
 'v19_a',
 'v19_b',
 'ix_tot',
 'ix_men10',
 'ix_mayeq10',
 'itf',
 'decifr',
 'idecifr',
 'rdecifr',
 'gdecifr',
 'pdecifr',
 'adecifr',
 'ipcf',
 'deccfr',
 'ideccfr',
 'rdeccfr',
 'gdeccfr',
 'pdeccfr',
 'adeccfr',
 'pondih',
 'vii1_1',
 'vii1_2',
 'vii2_1',
 'vii2_2',
 'vii2_3',
 'vii2_4',
 'v5_01',
 'v21_02',
 'v21_03',
 'v22_02',
 'v22_03',
 'v2_01']

In [343]:
# Creao el Identificados de Hogar para realizar la union con las baases a nivel de hogar
df_t1_05['ID_hogar'] = df_t1_05['CODUSU'].astype(str) + "_" + df_t1_05['nro_hogar'].astype(str)

In [324]:
df_t1_25['ID_hogar'] = df_t1_25['CODUSU'].astype(str) + "_" + df_t1_25['nro_hogar'].astype(str)

In [325]:
df_t1_05_hog['ID_hogar'] = df_t1_05_hog['CODUSU'].astype(str) + "_" + df_t1_05_hog['nro_hogar'].astype(str)

In [326]:
df_t1_25_hog['ID_hogar'] = df_t1_25_hog['CODUSU'].astype(str) + "_" + df_t1_25_hog['nro_hogar'].astype(str)

In [327]:
# Hago un proceso de limpieza y homologacion de las variables similar a la que se relaizó en la base de individuos
variables = ['ID_hogar', 'iv1', 'iv2', 'iv6', 'iv8', 'iv8', 'IX_Tot']
df_t1_05_hog = df_t1_05_hog[variables]

In [328]:
variables = ['ID_hogar', 'iv1', 'iv2', 'iv6', 'iv8', 'iv8', 'ix_tot']
df_t1_25_hog = df_t1_25_hog[variables]

In [329]:
print("\nTipos de variables en df_t1_05_hog:")
print(df_t1_25_hog.dtypes)
df_t1_25_hog['ix_tot'].value_counts()

Tipos de variables en df_t1_05_hog:
ID_hogar    object
iv1          int64
iv2          int64
iv6          int64
iv8          int64
iv8          int64
ix_tot       int64
dtype: object

ix_tot
2     595
1     573
3     397
4     324
5     124
6      48
7      13
9       6
8       3
10      2
12      1
Name: count, dtype: int64

In [330]:
df_t1_05_hog['ID_hogar'] = df_t1_05_hog['ID_hogar'].astype(str).str.replace(" ", "")
df_t1_05['ID_hogar'] = df_t1_05['ID_hogar'].astype(str).str.replace(" ", "")
df_t1_05_hog['ID_hogar'] = df_t1_05_hog['ID_hogar'].astype(str).str.replace('.0', '', regex=False)

In [337]:
# Realizo la union para ambos años y reporto el numero de columnas, filas, y datos faltantes.
df_merged05 = pd.merge(df_t1_05, df_t1_05_hog, on='ID_hogar', how='left')

In [338]:
df_merged25 = pd.merge(df_t1_25, df_t1_25_hog, on='ID_hogar', how='left')

In [339]:
print(df_merged05.shape)
print(df_merged25.shape)

(3172, 20)
(5326, 20)

In [340]:
vars_faltantes = ['iv1', 'iv2', 'iv6', 'iv8']

# Contar los valores faltantes totales
faltantes_totales05 = df_merged05[vars_faltantes].isna().sum()
faltantes_totales25 = df_merged25[vars_faltantes].isna().sum()

# Mostrar el total por variable
print(faltantes_totales05, '\n',  faltantes_totales25)

iv1    0
iv2    0
iv6    0
iv8    0
iv8    0
dtype: int64
 iv1    0
iv2    0
iv6    0
iv8    0
iv8    0
dtype: int64

In [342]:
df_merged25.columns.tolist()

['CODUSU',
 'nro_hogar',
 'ano4',
 'ch04',
 'ch06',
 'ch07',
 'ch08',
 'nivel_ed',
 'estado',
 'cat_inac',
 'ipcf',
 'pp04a',
 'pondera',
 'ID_hogar',
 'iv1',
 'iv2',
 'iv6',
 'iv8',
 'iv8',
 'ix_tot']